.our-partners-link {
  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @include desktop {
    width: 170px;
  }
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  @extend %align-items;
  background-color: $background-text-color;
  fill: rgba(175, 177, 184, 1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $link-hover-color;
    border: 1px solid $link-hover-color;
  }
}

.our-partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-partners-item:nth-of-type(2n) {
  @media screen and (max-width: 767px) {
    margin-left: 30px;
  }
}

.our-partners-item:not(:nth-child(3n + 1)) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 30px;
  }
}

.our-partners-item:nth-last-child(-n + 2) {
  @include mobile {
    margin-bottom: 0px;
  }
}

.our-partners-item:nth-last-child(-n + 3) {
  @include tablet {
    margin-bottom: 0px;
  }
}

.our-partners-item {
  @media screen and (max-width: 767px) {
    max-width: 210px;
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px;
  }
  @include mobile {
    width: 210px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
    margin-bottom: 30px;
  }
  @include desktop {
    width: 170px;
  }
}

.our-partners-item + .our-partners-item {
  @include desktop {
    margin-left: 30px;
  }
}
