.hero__title {
  color: $background-text-color;
  margin: 0px auto 30px auto;
  // width: 696px;
  width: 100%;
  @include font(900, 26px, 1.62, 0.06em);
  text-transform: uppercase;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  // padding-bottom: 200px;
  // padding-top: 200px;
  padding: 118px 60px 118px 60px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(..//images/hero-Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  max-width: 1600px;
  // width: 100%;
  margin: 0 auto;
}
