.button-svg {
  padding: 0;
  border: 0;
  background-color: $background-text-color;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  margin-top: -15px;
  display: flex;
  flex-wrap: wrap;
  // @extend %justify-content;
  margin-bottom: 50px;
}

.project-name {
  @include font(700, 18px, 2, 0.06em);
  color: $text-decoration-color;
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $second-text-color;
}

.project-card-content {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 20px 24px 20px 24px;
}

.project-link {
  display: block;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.06),
    0 0 0 0 rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
      1px 4px 6px 0 rgba(0, 0, 0, 0.16);
  }
}

.projects {
  list-style: none;
  // display: flex;
  // flex-wrap: wrap;
  margin-left: calc(-1 * $projects-card-gap);
  margin-top: calc(-1 * $projects-card-gap);
}

.projects-list {
  // flex-basis: calc(100% / 3 - $projects-card-gap);
  margin-left: $projects-card-gap;
  margin-top: $projects-card-gap;
  background: $background-text-color;
  box-sizing: border-box;
}

.project-card-thumb {
  position: relative;
  overflow: hidden;
}

.project-card-text {
  position: absolute;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 63px;
  width: 100%;
  height: 100%;
  top: 0;
  @include font(null, 18px, 1.56, 0.03em);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(0);
  }
}
