.section--otherbackground {
  background: #f5f4fa;
}

.team-list {
  list-style: none;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * $card-gap);
    margin-top: calc(-1 * $card-gap);
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.team-list__item {
  width: 100%;
  background-color: $background-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - $card-gap);
    margin-left: $card-gap;
    margin-top: $card-gap;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    flex-basis: calc(100% / 4 - $card-gap);
  }
}

.member-card__title {
  text-align: center;
  @include font(500, 16px, 1.19, 0.03em);
  margin-top: 0;
  margin-bottom: 10px;
}

.member-card__text {
  color: $second-text-color;
  @include font(null, 16px, 1.19, 0.03em);
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @extend %align-items;
  &:hover,
  &:focus {
    background-color: $link-hover-color;
    fill: $background-text-color;
  }
  &--grey {
    background-color: $background-text-color;
    fill: rgba(175, 177, 184, 1);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.soc-list {
  @extend %justify-content;
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.member-card__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
