.hero__button {
  @extend %button;
  align-items: center;
  text-align: center;
  padding: 10px 32px 10px 32px;
  cursor: pointer;
}

.filter__button {
  color: $text-decoration-color;
  background-color: #f5f4fa;
  font-family: inherit;
  @include font(500, 16px, 1.63, 0.03em);
  min-width: 73px;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid $border-color;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $background-text-color;
    background-color: $link-hover-color;
    border: 1px solid $link-hover-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.button-modal {
  @extend %button;
  display: block;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}
