.contacts-footer {
  flex-grow: 1;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  // .container {
  //   display: flex;
  //   align-items: baseline;
  // }
}

.logo.link.bottom {
  display: block;
  margin-bottom: 20px;
}

.address .post-address {
  color: $background-text-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress-list > .list:not(:last-child) {
  margin-bottom: 9px;
}

.mail,
.tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.conect-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: $link-hover-color;
  }
  &--white {
    background-color: rgba(255, 255, 255, 0.1);
    fill: rgb(255, 255, 255);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.conect-soc-list {
  @extend %justify-content;
}

.conect-soc-item + .conect-soc-item {
  margin-left: 10px;
}

.conect-header {
  margin-bottom: 20px;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $background-text-color;
}

.conect {
  margin-left: 70px;
}

.sing-up-form {
  margin-left: 93px;
}

.email-form {
  position: relative;
  @extend %align-items;
}

.sign-up-header {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.sign-up-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.sign-up-field {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include font(null, 16px, 1.25, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  width: 200px;
  height: 50px;
  @include font(700, 16px, 1.88, 0.06em);
  background-color: rgba(33, 150, 243, 1);
  color: #ffffff;
  cursor: pointer;
}

.icon-send {
  fill: rgba(255, 255, 255, 1);
  margin-left: 10px;
}
