// .container__header {
//   @extend %align-list;
// }

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    &__item {
      margin-left: 50px;
    }
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $text-decoration-color;
  @include font(500, 14px, 1.14, 0.02em);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:active,
  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

.site-nav__link--current {
  color: $link-hover-color;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    background-color: $link-hover-color;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__item {
  margin-left: 50px;
  display: none;
}

.contacts__icon,
.contacts__icon {
  margin-right: 10px;
}

.header {
  position: relative;
  background-color: $background-text-color;
  border-bottom: 1px solid #ececec;
}
