body {
  color: $text-decoration-color;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: Raleway, sans-serif;
  @media screen and (max-width: 767px) {
    @include font(700, 24px, 1.17, 0.03em);
  }
  @include font(700, 26px, 1.19, 0.03em);
  color: $link-hover-color;
  &__header {
    @include tablet {
      margin-right: 88px;
    }
    @include desktop {
      margin-right: 93px;
    }
  }
  &__dark {
    color: #000000;
  }
  &--light {
    color: $background-text-color;
  }
}

.section__title {
  @include font(700, 28px, 1.18, 0.03em);
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 50px;
    @include font(700, 36px, 1.17, 0.03em);
  }
}
