$text-decoration-color: #212121;
$second-text-color: #757575;
$link-hover-color: #2196f3;
$card-gap: 30px;
$projects-card-gap: 30px;
$background-text-color: #ffffff;
$border-color: #eeeeee;

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &--nopaddingtop {
    padding-top: 0px;
  }
}
